.disabled-cofeed {
  color: var(--disabled-color);
}

button.cofeed{
  float: right;
  font-size: 1.5em;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-right: 10px;
}
.unfollowed{
  border:none;
  color: white;
  background-color: var(--primary-color);
}

.followed{
  border : 1px solid var(--disabled-color);
  color : var(--text-color);
  background-color: white;
}
