<div class="cofeed-landing">
  <div class="center-div">
    <div class="cofeed-menu">
      <img alt="cofeed" src="../../../assets/layout/images/cofeed-logo2.png" class="cofeed-logo"/>
      <span class="title">Menu</span>
      <ul class="menu-parent">
        <li (click)="onMenuOver(item)" [class.active-menu]="item['active']"
            class="box-shadow menu-child"
            *ngFor="let item of menu  let i = index;">
          <div
            class="menu-item">
            <a [attr.href]="item.url"
               [attr.target]="item.target" [attr.tabindex]="0" [ngClass]="item.class">
              <i [class.active-menu-color]="item['active']" [ngClass]="[item.icon, 'disabled-cofeed']"
                 class="menu-icon"></i>
              <span [ngClass]="['disabled-cofeed']" [class.active-menu-color]="item['active']">{{item.label}}</span>
            </a>
          </div>
        </li>
      </ul>
      <div #account style="margin-bottom: 10px">
        <span class="title">Account </span>
        <i [ngClass]="accountOpen?'fa-solid fa-angle-down':'fa-solid fa-angle-left'"
           style="margin-left:100px; cursor: pointer" (click)="accountOpen =!accountOpen"></i>
      </div>

      <div [@inOutAnimation]="true" *ngIf="accountOpen" class="title" style="display: flex">
        <img src="../../../assets/layout/images/ayoub.jpg" class="account">
        <div style="flex:50%; margin-top:10px">
          <div class="title" style="margin-bottom:5px">Ayoub</div>
          <a href="https://www.linkedin.com/in/ayoub-lahkim-934456122/"
             class="disabled-cofeed title"
             style="cursor: pointer">@alahkim</a>
        </div>
      </div>

      <div style="text-align:center;">

        <img #pub src="../../../assets/layout/images/pub.PNG" class="pub">
      </div>
    </div>

    <div #content class="cofeed-content">

      <div class="cofeed-content-wrapper">
        <div #story *ngFor="let story of stories  let i = index;">
          <cofeed-story [story]="story"></cofeed-story>
        </div>
      </div>

      <div #feedsheader style="height: 10%; display: flex; flex : 100%;">
        <span style="margin: 30px 0px 0px 30px; flex:2">Feeds </span>
        <div style="display:flex; flex:1; cursor: pointer">
              <span (click)="onFeedClick(feed)"
                    [style.color]="feed.active?'var(--primary-color)':'var(--disabled-color)'"
                    *ngFor="let feed of feeds" style="margin-top: 30px;">
          {{feed['label']}} &nbsp;
        </span>
        </div>
      </div>

      <div #feedsbody class="flexbox">
        <div class="col" *ngFor="let feed of feedDetails">
          <cofeed-feed [feed]="feed" (likeEvent)="onFeedLike($event)"></cofeed-feed>
        </div>
      </div>


    </div>
    <div #sidebarright style="width : 100%; height : 100%; flex : 35%">

      <div #actionbar class="action-bar">
        <form [formGroup]="formGroup">
          <div class="action-bar-wrapper">
            <div style="width:250px"><input formControlName="search" type="text" placeholder="Search..."
                                            class="search-action">
            </div>

            <div style="width:80px"><i class="round fa-solid fas fa-bell" style="  color: var(--disabled-color);font-size:2em; padding-top:20px"></i>
            </div>
            <div style="width:100px"><i class="round fa-solid fa-cloud-arrow-up cloud"></i>
            </div>
          </div>
        </form>
      </div>

      <div #suggestionz style="height :35%; ">
        <span style="font-size: 1.8em;">Suggestions for you </span>
        <span class="suggestion">See all </span>
        <div class="suggestion-wrapper">
          <ng-container *ngFor="let suggestion of suggestions">
            <div style="display: flex;flex-direction: column">
              <cofeed-suggestion [suggestion]="suggestion"></cofeed-suggestion>
            </div>
          </ng-container>
        </div>
      </div>

      <div #lastpost style="height :35%;">
        <span style="font-size: 1.8em;">Latest Post Activity </span>
        <div style="display: flex;flex-direction: row;">
          <div style="flex: 2">
            <img class="last-post-img"
                 src="../../../assets/layout/images/stairs.jpg">
          </div>
          <div style="flex: 1;flex-direction: column">
            <div style="padding-top: 45px;flex:1">Minimalist Stairs</div>
            <br><br><br><br><br><br>
            <div style="display: flex;flex-direction: row;flex:1">
              <i class="fa-solid fa-heart feed-icon" style="flex:0.5;color:#ff5776"></i>
              <span style="flex:0.5" class="feed-number">{{likes}}</span>
              <i style="flex:0.5" class="fa-solid fa-comment-dots feed-icon"></i>
              <span style="flex:0.5" class="feed-number">{{comments}}</span>
              <i style="flex:0.5" class="fa-solid fas fa-bookmark feed-icon"></i>
              <span style="flex:0.5" class="feed-number">{{comments}}</span>
            </div>
          </div>
        </div>
      </div>

      <div #about class="about">
        <div *ngFor="let menu of aboutMenu">
          <span class="about-content">{{menu}}</span>
          <i *ngIf="aboutMenu.indexOf(menu)+1!==aboutMenu.length" class="fa-solid fa-circle"
             style="color: var(--disabled-color)"></i>&nbsp;
        </div>
      </div>
    </div>

  </div>
</div>
















