.action-block {
  padding-top: 20%;
}

.cofeed-landing {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(206, 213, 255, 1) 35%, #d9dfff 100%);
  height: 100%;
  width: 100%;
  position: relative;
}
.title{
  margin-left: 30px;
}

.menu-parent{
  display:table;
  width:100%;
  margin:0px
}
.menu-child{
  list-style-type: none;
  display: table-caption;
  background-color:white;
  margin: 10px
}
.menu-icon{
  font-size: 1.4em;
  padding-right: 12px
}
.account{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.pub{
  margin-top:15px;
  border-radius: 15%;
  border: 5px solid #e4f4f1;
  cursor:pointer;
  max-height:60%;
  max-width:80%
}
.cofeed-content{
  width : 100%;
  height : 100%;
  flex : 65%;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
}
.cofeed-content-wrapper{
  border-bottom: 1px solid var(--disabled-color) ;
  height : 20%;
  display: flex;
  flex-direction: row;
  flex : 100%;
  justify-content: flex-start;
  padding-top:18px;
}
.action-bar{
  height :20%;
  display: flex;
  flex-direction: row;
  flex : 100%;
  justify-content: flex-start;
}
.action-bar-wrapper{

  padding:40px 0px 0px 15px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.search-action{
  height:50%;
  border-radius:40px;
  border: 2px solid var(--disabled-color)
}
.cloud{
  font-size:2em;
  padding-top:20px;
  background-color:#58b9fe;
  color:#ffffff
}


.suggestion{
  color: var(--primary-color);
  font-size: 1.8em;
  float: right;
  padding-right:20px;
  cursor:pointer
}
.suggestion-wrapper{
  padding-top:20px;
  border-bottom: 1px solid var(--disabled-color)
}
.last-post-img{
  padding-left:20px;
  padding-top: 25px;
  border-radius: 10%;
  width: 90%;
}
.about{
  height :10%;
  display: flex;
  text-align:center;
  padding-left: 80px
}
.about-content{
  flex:0.1;
  font-size:1em;
  cursor:pointer;
  color: var(--disabled-color)
}
.menu-item{
  padding: 5px 5px 0px 30px;
  display:table
}
.center-div {
  display: flex;
  background: #fafbff;
  width: 75%;
  height: 88%;
  position: absolute;
  top: 10%;
  left: 15%;
  margin: -35px 0 0 -35px;
  border-radius: 50px;
  overflow: auto;
}

.cofeed-menu {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 20%;
  height: 100%;
  border-right: 1px solid;
  background: white;
}

.cofeed-logo {
  margin-left: 30px;
  margin-right: auto;
  display: block;
  width: 70%;
  margin-bottom: -15px;
}

.disabled-cofeed {
  color: var(--disabled-color);
}

.hello {
  background-color: var(--primary-color)
}

li:hover {
  cursor: pointer;
}

.active-menu-color {
  color: var(--primary-color);
}

.active-menu {
  box-shadow: 0px 4px 8px -8px #000000;
}


.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 70%;
}


.flex-grid {
  display: flex;
}

.col {
  width: 50%;;
  height: 50%;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

::placeholder {
  font-size: 1.4em;
  padding-left: 40px;
  color: var(--disabled-color)
}

i.round {
  display: inline-block;
  border-radius: 50px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  cursor: pointer;
  border: 2px solid var(--disabled-color)
}


button.cofeed{
  float: right;
  font-size: 1.5em;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  margin: -24px -50px;
  position: relative;
  left: 25%;
  border:none;
}


.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.feed-icon{
  font-size:2em;
  flex: 0.1;
  float:right;
  cursor: pointer;
  color: var(--disabled-color)
}
ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li.horizontal{
  float: left;
}
